<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BeachPartner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
				<key>dateExpires</key>
				<string>5/21/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Floaty.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSQSystemSoundPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Koloda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SlidingContainerViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TKSubmitTransitionSwift3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Tailor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C14DBD25D9C3A8C6EA811C11B1E0A3177A9D2C6</string>
						<key>dateExpires</key>
						<string>5/21/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LX9FCBACX7</string>
						<key>name</key>
						<string>Beach Partner LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LX9FCBACX7.com.beachpartnerllc.beachpartner</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LX9FCBACX7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BeachPartner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>168cbc15-c8ee-4947-8932-59fc0ee38577</string>
				<key>name</key>
				<string>adhoc BP provision</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LX9FCBACX7</string>
				<key>name</key>
				<string>Beach Partner LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
